html,
body {
  font-family: Helvetica;
  font-size: 12pt;
  line-height: 1.3;
  min-height: 100vh;
  width: 100%;
  background-color: #f9f9f9;
  scroll-behavior: smooth;
}

.container {
  /* border: 1px solid blue; */
}

.col {
  /* border: 1px solid blue; */
}
